.bank-reconciliation-child19 {
  position: absolute;
  top: -94px;
  left: -135px;
  border-radius: 50%;
  background-color: var(--color-yellow-300);
  filter: blur(200px);
  width: 525px;
  height: 538px;
}
.bank-reconciliation-child20,
.bank-reconciliation-child21 {
  position: absolute;
  top: 642.9px;
  left: -9.3px;
  border-radius: 50%;
  background-color: var(--color-yellowgreen-100);
  filter: blur(100px);
  width: 685px;
  height: 678px;
  transform: rotate(-118.58deg);
  transform-origin: 0 0;
}
.bank-reconciliation-child21 {
  top: 790.9px;
  left: -53.5px;
  background-color: var(--color-yellowgreen-200);
  width: 900.1px;
  height: 904px;
}
.bank-reconciliation-child22 {
  position: absolute;
  top: 51px;
  left: 489px;
  border-radius: 50%;
  background-color: var(--color-greenyellow-200);
  filter: blur(200px);
  width: 338px;
  height: 324px;
}
.bank-reconciliation-child23,
.bank-reconciliation-child24 {
  position: absolute;
  border-radius: 50%;
  filter: blur(200px);
  width: 269px;
  height: 268px;
}
.bank-reconciliation-child23 {
  top: 765px;
  left: 455px;
  background-color: #39f2c6;
}
.bank-reconciliation-child24 {
  top: 133px;
  left: 1235px;
  background-color: var(--color-aquamarine-100);
}
.bank-reconciliation-child25,
.bank-reconciliation-child26 {
  position: absolute;
  top: 482px;
  left: 813px;
  border-radius: 50%;
  background-color: var(--color-turquoise-300);
  filter: blur(200px);
  width: 910px;
  height: 920px;
}
.bank-reconciliation-child26 {
  top: 391px;
  left: 703px;
  filter: blur(100px);
  width: 1107px;
  height: 1071px;
}
.bank-reconciliation-child27 {
  position: absolute;
  top: 752.4px;
  left: 389px;
  border-radius: 50%;
  background-color: #56efdd;
  filter: blur(100px);
  width: 1282px;
  height: 1217px;
  transform: rotate(-33.17deg);
  transform-origin: 0 0;
}
.oemspa2 {
  position: absolute;
  top: 0;
  left: 73px;
  display: inline-block;
  width: 77px;
  height: 38.3px;
}
.group-child60 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  width: 50px;
  height: 28px;
  object-fit: cover;
}
.oemspa-container,
.rectangle-wrapper11 {
  position: absolute;
  top: 6.2px;
  left: 0;
  width: 50px;
  height: 28px;
}
.oemspa-container {
  top: 0;
  width: 150px;
  height: 38.3px;
}
.group-child61,
.group-child62 {
  position: absolute;
  top: 3.1px;
  left: 364px;
  width: 35px;
  height: 36.2px;
}
.group-child62 {
  height: 51.24%;
  width: 4.59%;
  top: 25.74%;
  right: 17.72%;
  bottom: 23.02%;
  left: 77.69%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child63 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 9.92px;
  background-color: var(--color-gainsboro);
  width: 275px;
  height: 40.4px;
}
.search3 {
  position: absolute;
  top: 0;
  left: 18px;
  display: inline-block;
  width: 41px;
  height: 19.7px;
  opacity: 0.5;
}
.group-child64 {
  position: absolute;
  height: 61.42%;
  width: 19.83%;
  top: 20.81%;
  right: 80.17%;
  bottom: 17.77%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.8;
}
.search-parent1 {
  position: absolute;
  top: 10.4px;
  left: 15px;
  width: 59px;
  height: 19.7px;
}
.rectangle-parent13 {
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  width: 275px;
  height: 40.4px;
}
.group-parent59,
.header4 {
  position: absolute;
  top: 2.1px;
  left: 943px;
  width: 399px;
  height: 40.4px;
  font-size: var(--caption-regular-size);
  font-family: var(--font-hind-siliguri);
}
.header4 {
  top: 51.2px;
  left: 40px;
  width: 1342px;
  height: 42.5px;
  font-size: var(--font-size-xl);
  font-family: var(--font-cairo);
}
.bank-reconciliation-child28 {
  position: absolute;
  top: 139px;
  left: 305px;
  border-radius: 9.92px;
  background-color: var(--color-gainsboro);
  backdrop-filter: blur(10px);
  width: 1113px;
  height: 48px;
}
.x2 {
  font-size: var(--font-size-5xl);
}
.dashboard-x2 {
  position: relative;
  background: linear-gradient(90deg, #000, #000 50.71%, #f239c9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.dashboard-x-frame {
  position: absolute;
  top: 139px;
  left: 305px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-500);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-xl);
  font-size: var(--font-size-6xl);
  font-family: var(--font-cairo);
}
.bank-reconciliation-child29 {
  position: absolute;
  top: 232px;
  left: 305px;
  border-radius: 9.92px;
  width: 1090px;
  height: 772px;
}
.icon2 {
  position: relative;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.editdelete2 {
  position: relative;
  line-height: 110%;
  font-weight: 600;
  display: inline-block;
  width: 149px;
  flex-shrink: 0;
}
.frame-div {
  position: absolute;
  top: 327px;
  left: 1164px;
  border-radius: var(--br-6xs);
  background-color: var(--color-gainsboro);
  backdrop-filter: blur(10px);
  width: 176px;
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-19xl) var(--padding-3xs)
    var(--padding-3xs);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-4xl);
  font-family: var(--font-cairo);
}
.vector-icon2 {
  position: absolute;
  height: 41.3%;
  width: 25%;
  top: 23.91%;
  right: 68.1%;
  bottom: 34.78%;
  left: 6.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.excel2 {
  position: absolute;
  width: 57.76%;
  top: 17.39%;
  left: 37.07%;
  line-height: 110%;
  font-weight: 600;
  display: inline-block;
}
.vector-container {
  position: absolute;
  top: 327px;
  left: 964px;
  border-radius: var(--br-6xs);
  background-color: var(--color-gainsboro);
  backdrop-filter: blur(10px);
  width: 116px;
  height: 46px;
  text-align: center;
  font-size: var(--font-size-4xl);
  font-family: var(--font-cairo);
}
.date5,
.select-bank2,
.to2 {
  position: absolute;
  top: 267px;
  left: 320px;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  width: 50px;
  height: 27px;
}
.select-bank2,
.to2 {
  top: 272px;
  left: 949px;
  width: 99px;
}
.to2 {
  top: 319px;
  left: 320px;
  width: 50px;
}
.group-child65 {
  border-radius: 9.92px;
  background-color: var(--color-gainsboro);
  width: 289px;
  height: 40.4px;
}
.div29,
.group-child65,
.rectangle-parent14 {
  position: absolute;
  top: 0;
  left: 0;
}
.div29 {
  display: inline-block;
  width: 93.3px;
  height: 19.7px;
  opacity: 0.5;
}
.rectangle-parent14 {
  backdrop-filter: blur(10px);
  width: 289px;
  height: 40.4px;
}
.bank-reconciliation-inner13 {
  position: absolute;
  top: 259px;
  left: 370px;
  width: 289px;
  height: 40.4px;
  font-size: var(--caption-regular-size);
  font-family: var(--font-hind-siliguri);
}
.selecte-frame {
  position: absolute;
  top: 10.4px;
  left: 34.7px;
  width: 93.3px;
  height: 19.7px;
}
.bank-reconciliation-inner14,
.bank-reconciliation-inner15 {
  position: absolute;
  top: 264px;
  left: 1051px;
  width: 289px;
  height: 40.4px;
  font-size: var(--caption-regular-size);
  font-family: var(--font-hind-siliguri);
}
.bank-reconciliation-inner15 {
  top: 311px;
  left: 370px;
}
.icround-arrow-drop-down-icon4 {
  position: absolute;
  top: 272px;
  left: 1305px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.group-child68 {
  position: absolute;
  top: calc(50% - 67.4px);
  right: -10.7px;
  width: 298.6px;
  height: 140.9px;
}
.today-28-11-20222 {
  position: absolute;
  top: 105px;
  left: 21.9px;
  line-height: 160.6%;
  font-weight: 600;
  display: inline-block;
  width: 105.5px;
  height: 19.9px;
}
.bank-reconciliation-inner16,
.group-wrapper74 {
  position: absolute;
  top: calc(50% - 62.8px);
  right: 0;
  width: 283.3px;
  height: 125.6px;
}
.bank-reconciliation-inner16 {
  top: calc(50% - 240px);
  right: 793.7px;
  font-size: 12.23px;
  color: var(--color-steelblue);
}
.group-child69 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 9.92px;
  background-color: var(--color-gainsboro);
  backdrop-filter: blur(10px);
  width: 141.7px;
  height: 55.6px;
}
.div31 {
  line-height: 160.6%;
  font-weight: 600;
  display: inline-block;
}
.div31,
.opening2,
.wrapper8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 69.3px;
  height: 19.6px;
}
.opening2 {
  top: 20px;
  left: 2.2px;
  font-size: 10.46px;
  line-height: 160.6%;
  font-weight: 500;
  color: var(--color-gray-100);
  display: inline-block;
  width: 68px;
  height: 17px;
}
.div32,
.group-parent63 {
  position: absolute;
  top: 0;
  left: 0;
  width: 70.2px;
  height: 37px;
}
.div32 {
  top: 20.9px;
  left: 82px;
  font-size: 11.77px;
  font-weight: 600;
  color: var(--color-limegreen-200);
  display: inline-block;
  width: 32.8px;
  height: 16.3px;
}
.group-parent62 {
  position: absolute;
  top: 9.2px;
  left: 13.4px;
  width: 114.8px;
  height: 37.3px;
}
.bank-reconciliation-inner17,
.group-parent61 {
  position: absolute;
  top: 0;
  left: 0;
  width: 141.7px;
  height: 55.6px;
}
.bank-reconciliation-inner17 {
  top: 435.8px;
  left: 365.3px;
  font-size: 15.69px;
  color: var(--color-darkslategray);
}
.group-child70 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 9.92px;
  background-color: var(--color-gainsboro);
  backdrop-filter: blur(10px);
  width: 154.1px;
  height: 54.4px;
}
.div33 {
  line-height: 160.6%;
  font-weight: 600;
  display: inline-block;
}
.closing2,
.div33,
.wrapper9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 75.4px;
  height: 19.2px;
}
.closing2 {
  top: 19.8px;
  left: 2.4px;
  font-size: 10.24px;
  line-height: 160.6%;
  font-weight: 500;
  color: var(--color-gray-100);
  display: inline-block;
  width: 71.4px;
  height: 16.6px;
}
.div34,
.group-parent66 {
  position: absolute;
  top: 0;
  left: 0;
  width: 75.4px;
  height: 36.5px;
}
.div34 {
  top: 20.5px;
  left: 89.2px;
  font-size: 11.52px;
  font-weight: 600;
  color: var(--color-limegreen-200);
  display: inline-block;
  width: 35.7px;
  height: 16px;
}
.group-parent65 {
  position: absolute;
  top: 9px;
  left: 14.6px;
  width: 124.9px;
  height: 36.5px;
}
.bank-reconciliation-inner18,
.group-parent64 {
  position: absolute;
  top: 0;
  left: 0;
  width: 154.1px;
  height: 54.4px;
}
.bank-reconciliation-inner18 {
  top: 436px;
  left: 522px;
  font-size: 15.36px;
  color: var(--color-darkslategray);
}
.print2 {
  position: relative;
  font-weight: 600;
}
.print-frame {
  position: absolute;
  top: 327px;
  left: 1092px;
  border-radius: var(--br-6xs);
  background-color: var(--color-gainsboro);
  backdrop-filter: blur(12.35px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8.603012084960938px 12.90451717376709px;
  font-size: 17.21px;
  font-family: var(--font-hind-siliguri);
}
.group-child71 {
  border-radius: 9.92px;
  background-color: var(--color-gray-600);
  border: 2px solid var(--color-crimson);
  box-sizing: border-box;
}
.group-child71,
.group-wrapper76 {
  position: absolute;
  top: 0;
  left: 0;
  width: 305.8px;
  height: 65px;
}
.cgst6 {
  display: inline-block;
}
.cgst6,
.group-child72,
.group-wrapper77,
.group-wrapper78 {
  position: absolute;
  top: 0;
  left: 0;
  width: 65.3px;
  height: 17.5px;
}
.group-child72,
.group-wrapper77 {
  left: 12px;
}
.group-child72 {
  height: 106.29%;
  width: 27.94%;
  top: 5.14%;
  right: 75.94%;
  bottom: -11.43%;
  left: -3.88%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-parent70 {
  position: absolute;
  top: 0;
  left: 0;
  width: 77.3px;
  height: 17.5px;
}
.sgst6 {
  display: inline-block;
}
.group-child73,
.group-wrapper80,
.group-wrapper81,
.sgst6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 69.1px;
  height: 17.5px;
}
.group-child73,
.group-wrapper80 {
  left: 10.6px;
}
.group-child73 {
  height: 104.57%;
  width: 20.45%;
  top: 3.43%;
  right: 83.31%;
  bottom: -8%;
  left: -3.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child74,
.group-parent71 {
  position: absolute;
  top: 0.4px;
  left: 100.2px;
  width: 79.7px;
  height: 17.5px;
}
.group-child74 {
  height: 104.57%;
  width: 20.45%;
  top: 4.57%;
  right: 83.31%;
  bottom: -9.14%;
  left: -3.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-parent69,
.group-parent72 {
  position: absolute;
  top: 0.4px;
  left: 195.2px;
  width: 79.7px;
  height: 17.5px;
}
.group-parent69 {
  top: 26px;
  left: 0;
  width: 274.9px;
  height: 17.8px;
}
.dashicons-arrow-right-alt6 {
  position: absolute;
  top: 1.9px;
  left: 254.2px;
  width: 26.1px;
  height: 23.7px;
  overflow: hidden;
}
.matched-and-categorized2 {
  font-weight: 600;
  display: inline-block;
}
.group-wrapper86,
.matched-and-categorized-transa-frame,
.matched-and-categorized2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 232px;
  height: 15px;
}
.group-wrapper86 {
  left: 0.2px;
  box-shadow: 0 2.8px 13.97px rgba(0, 0, 0, 0.25);
}
.group-child75,
.group-parent73 {
  position: absolute;
  top: 16.7px;
  left: 0;
  width: 146.2px;
  height: 0.7px;
}
.group-parent73 {
  top: 0;
  left: 0.8px;
  width: 232.2px;
  height: 17px;
  font-size: 11.18px;
}
.group-parent68 {
  position: absolute;
  top: 10px;
  left: 14px;
  width: 274.9px;
  height: 43.8px;
}
.group-child76,
.group-parent67 {
  position: absolute;
  width: 305.8px;
  height: 65px;
}
.group-parent67 {
  top: 545px;
  left: 367px;
  font-size: 12.57px;
}
.group-child76 {
  top: 0;
  left: 0;
  border-radius: 9.92px;
  background-color: var(--color-gray-600);
}
.group-parent74,
.group-parent81 {
  position: absolute;
  top: 545px;
  left: 723px;
  width: 305.8px;
  height: 65px;
  font-size: 12.57px;
}
.group-parent81 {
  left: 1072px;
}
.matched-and-categorized3 {
  margin: 0;
}
.matched-and-categorized-container {
  position: relative;
  font-size: 16.36px;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  width: 485.7px;
  height: 27.6px;
  flex-shrink: 0;
}
.total-deposite,
.total-withdraw {
  position: absolute;
  top: 14.1px;
  left: 17.2px;
  line-height: 150%;
  font-weight: 500;
}
.total-withdraw {
  top: 13.7px;
  left: 543.3px;
}
.header5 {
  position: relative;
  background-color: var(--color-gainsboro);
  backdrop-filter: blur(9.82px);
  width: 1058.3px;
  height: 46.1px;
}
.date6,
.reference1,
.statement-details1,
.type2 {
  position: absolute;
  top: 4.1px;
  left: 7.9px;
  line-height: 150%;
}
.date6,
.reference1,
.type2 {
  left: 276.8px;
}
.reference1,
.type2 {
  left: 514px;
}
.reference1 {
  left: 409.7px;
}
.more-icon {
  position: absolute;
  top: 1.1px;
  left: 1009.2px;
  width: 24.7px;
  height: 24.7px;
  overflow: hidden;
}
.material-symbolsfilter-alt-sh-icon10,
.material-symbolsfilter-alt-sh-icon11 {
  position: absolute;
  top: 2.9px;
  left: 163.1px;
  width: 20.6px;
  height: 20.6px;
  overflow: hidden;
}
.material-symbolsfilter-alt-sh-icon11 {
  left: 341px;
}
.material-symbolsfilter-alt-sh-icon12,
.material-symbolsfilter-alt-sh-icon13 {
  position: absolute;
  top: 2.9px;
  left: 379.5px;
  width: 20.6px;
  height: 20.6px;
  overflow: hidden;
}
.material-symbolsfilter-alt-sh-icon13 {
  left: 574.7px;
}
.row-1 {
  position: relative;
  background-color: var(--color-gainsboro);
  backdrop-filter: blur(9.82px);
  width: 1058.3px;
  height: 26.5px;
}
.table2 {
  position: absolute;
  top: 20.6px;
  left: 20.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.orderlist-child20,
.orderlist-child21,
.orderlist-child22 {
  position: absolute;
  top: 48.7px;
  left: 386.6px;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 71.7px;
}
.orderlist-child21,
.orderlist-child22 {
  top: 93.9px;
  left: 523.7px;
  height: 25.5px;
}
.orderlist-child22 {
  left: 625.9px;
}
.reconsiliation-status {
  position: relative;
  line-height: 150%;
}
.material-symbolsfilter-alt-sh-icon14 {
  position: relative;
  width: 20.6px;
  height: 20.6px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-child2 {
  position: relative;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 25.5px;
}
.deposit-container,
.reconsiliation-status-parent,
.withdraw-container {
  position: absolute;
  top: 94.4px;
  left: 645.1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10.22px;
}
.deposit-container,
.withdraw-container {
  left: 820.9px;
}
.withdraw-container {
  left: 928.3px;
}
.orderlist-child23 {
  position: absolute;
  top: 94.9px;
  left: 207.7px;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 25.5px;
}
.orderlist3 {
  position: absolute;
  height: 17.77%;
  width: 78.17%;
  top: 63.38%;
  right: 0.65%;
  bottom: 18.85%;
  left: 21.18%;
  border-radius: 9.74px;
  backdrop-filter: blur(9.82px);
  font-size: 12.37px;
}
.total-deposite000,
.total-withdraw000 {
  position: absolute;
  top: 14px;
  left: 753px;
  line-height: 150%;
  font-weight: 500;
}
.total-withdraw000 {
  top: 13.7px;
  left: 908.3px;
}
.header6 {
  position: absolute;
  top: 932px;
  left: 326px;
  background-color: var(--color-gainsboro);
  backdrop-filter: blur(9.82px);
  width: 1058.3px;
  height: 46.1px;
  font-size: 12.37px;
}
.bank-reconciliation2 {
  position: relative;
  background: linear-gradient(
    118.2deg,
    #ff7b58,
    #fcff58,
    rgba(255, 255, 255, 0) 43%,
    #39f2e7
  );
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--caption-regular);
}
