.sales-invoice-register-child4 {
  position: absolute;
  top: 329px;
  left: 314px;
  border-radius: 50%;
  background-color: #fff48d;
  filter: blur(200px);
  width: 338px;
  height: 324px;
}
.sales-invoice-register-child5,
.sales-invoice-register-child6 {
  position: absolute;
  top: -94px;
  left: -135px;
  border-radius: 50%;
  background-color: var(--color-yellow-300);
  filter: blur(200px);
  width: 525px;
  height: 538px;
}
.sales-invoice-register-child6 {
  top: 642.9px;
  left: -9.3px;
  background-color: var(--color-yellowgreen-100);
  filter: blur(100px);
  width: 685px;
  height: 678px;
  transform: rotate(-118.58deg);
  transform-origin: 0 0;
}
.sales-invoice-register-child7,
.sales-invoice-register-child8 {
  position: absolute;
  border-radius: 50%;
  background-color: var(--color-yellow-300);
}
.sales-invoice-register-child7 {
  top: 790.9px;
  left: -53.5px;
  filter: blur(100px);
  width: 900.1px;
  height: 904px;
  transform: rotate(-118.58deg);
  transform-origin: 0 0;
}
.sales-invoice-register-child8 {
  top: 68px;
  left: 1227px;
  filter: blur(200px);
  width: 269px;
  height: 268px;
}
.group-child340 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 9.92px;
  background-color: var(--color-gainsboro);
  backdrop-filter: blur(10px);
  width: 246px;
  height: 991px;
}
.group-child341 {
  position: absolute;
  top: -0.5px;
  left: 244.5px;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 992px;
  opacity: 0.1;
}
.rectangle-parent102 {
  position: absolute;
  top: 18px;
  left: 14px;
  backdrop-filter: blur(20px);
  width: 246px;
  height: 991px;
}
.dashboard-interface-1-icon12 {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.dashboard12 {
  position: relative;
}
.dashboard-interface-1-parent10 {
  border-radius: var(--br-8xs);
  width: 216px;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-6xl) var(--padding-mini)
    var(--padding-mini);
  box-sizing: border-box;
  gap: var(--gap-xl);
  color: var(--color-black);
}
.customers12 {
  position: relative;
  font-weight: 300;
}
.frame-wrapper61,
.team-1-parent10 {
  display: flex;
  justify-content: flex-start;
}
.team-1-parent10 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xl);
  opacity: 0.7;
}
.frame-wrapper61 {
  width: 216px;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-mini) var(--padding-6xl) var(--padding-mini)
    var(--padding-mini);
  box-sizing: border-box;
  color: var(--color-black);
}
.chat12,
.group-icon48 {
  position: relative;
  opacity: 0.7;
}
.group-icon48 {
  width: 25px;
  height: 18px;
}
.chat12 {
  flex: 1;
  font-weight: 300;
}
.group-child342 {
  position: absolute;
  top: 0.5px;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-crimson);
  border: 0.5px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 17px;
  height: 17px;
}
.span24 {
  font-weight: 500;
}
.span25 {
  font-size: var(--font-size-3xs);
  font-weight: 300;
}
.div233 {
  position: absolute;
  top: 0;
  left: 3px;
}
.ellipse-parent105 {
  position: relative;
  width: 17px;
  height: 22px;
  display: none;
  text-align: center;
  font-size: var(--caption-regular-size);
}
.group-parent160 {
  width: 181px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-mini);
}
.frame-wrapper62 {
  width: 216px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-6xl) var(--padding-mini)
    var(--padding-mini);
  box-sizing: border-box;
}
.frame-child78 {
  position: relative;
  width: 20px;
  height: 14.3px;
  opacity: 0.7;
}
.group-child343 {
  position: absolute;
  top: 1px;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-crimson);
  border: 0.5px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 17px;
  height: 17px;
}
.div234 {
  position: absolute;
  top: 0;
  left: 5px;
  font-weight: 500;
}
.group-parent161 {
  width: 181px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-xl);
}
.group-icon49 {
  position: relative;
  width: 20px;
  height: 20px;
}
.vector-icon53,
.vector-icon54 {
  position: relative;
  width: 12.2px;
  height: 14.1px;
}
.vector-icon54 {
  width: 4.7px;
  height: 4.7px;
}
.frame25 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-10xs) 0 var(--padding-9xs);
  gap: var(--gap-12xs);
}
.frame-parent52,
.sales-invoice-register-inner7,
.sales-invoice-register-inner8 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.frame-parent52 {
  top: 106px;
  left: 14px;
  height: 156px;
  padding: var(--padding-3xs);
  gap: var(--gap-mini);
  color: var(--gray-white);
}
.sales-invoice-register-inner7,
.sales-invoice-register-inner8 {
  top: 948px;
  left: 31px;
  width: 216px;
  height: 62px;
  padding: var(--padding-mini) var(--padding-6xl) var(--padding-mini)
    var(--padding-mini);
}
.sales-invoice-register-inner8 {
  top: 670px;
  left: 24px;
  border-radius: var(--br-8xs);
  background-color: var(--color-orangered-100);
  box-shadow: 0 10px 10px rgba(150, 6, 118, 0.69);
  height: 56px;
  flex-direction: row;
  align-items: center;
}
.icon-wallet12 {
  position: relative;
  width: 23px;
  height: 26.5px;
}
.purchase12 {
  position: absolute;
  top: 0;
  left: 6px;
  font-weight: 300;
  display: inline-block;
  width: 66px;
  opacity: 0.7;
}
.ellipse-parent107 {
  position: absolute;
  top: 3.5px;
  left: 164px;
  width: 17px;
  height: 22px;
  display: none;
  text-align: center;
  font-size: var(--caption-regular-size);
  color: var(--gray-white);
}
.purchase-parent10 {
  position: relative;
  width: 181px;
  height: 30px;
}
.icon-wallet-parent10 {
  position: absolute;
  top: 404px;
  left: 29px;
  width: 164px;
  height: 62px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-6xl) var(--padding-mini)
    var(--padding-mini);
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.icon-cash12 {
  position: relative;
  width: 27px;
  height: 27.8px;
}
.ellipse-parent108 {
  position: relative;
  width: 17px;
  height: 22px;
  display: none;
  text-align: center;
  font-size: var(--caption-regular-size);
  color: var(--gray-white);
}
.icon-cash-parent10 {
  position: absolute;
  top: 534px;
  left: 26px;
  width: 216px;
  height: 62px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-6xl) var(--padding-mini)
    var(--padding-mini);
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.icon-manual-gearbox12 {
  position: relative;
  width: 26px;
  height: 25.8px;
}
.human-resource12 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  width: 141px;
  flex-shrink: 0;
  opacity: 0.7;
}
.human-resource-parent10,
.icon-manual-gearbox-parent10 {
  width: 140px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-xl);
}
.icon-manual-gearbox-parent10 {
  position: absolute;
  top: 597px;
  left: 29px;
  width: 216px;
  height: 62px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-6xl) var(--padding-mini)
    var(--padding-mini);
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.icon-clipboard-list12 {
  position: relative;
  width: 29px;
  height: 28.8px;
}
.icon-clipboard-list-parent10 {
  position: absolute;
  top: 465px;
  left: 29px;
  width: 216px;
  height: 62px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-6xl) var(--padding-mini)
    var(--padding-mini);
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.icon-tag12 {
  position: relative;
  width: 25px;
  height: 24.8px;
}
.icon-tag-parent10 {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 181px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-xl);
}
.frame-child79 {
  position: absolute;
  top: -66px;
  left: 37px;
  width: 216px;
  height: 62px;
}
.inventory12 {
  flex: 1;
  position: relative;
  font-weight: 900;
  opacity: 0.7;
}
.inventory-parent10 {
  position: absolute;
  top: -50px;
  left: 54px;
  width: 181px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-xl);
}
.frame-child80,
.frame-parent54 {
  position: absolute;
  top: -48px;
  left: 47px;
  width: 181px;
}
.frame-parent54 {
  top: 337px;
  left: 29px;
  width: 216px;
  height: 62px;
}
.icon-shopping-cart12 {
  position: absolute;
  height: 2.71%;
  width: 0.97%;
  top: 28.05%;
  right: 97.72%;
  bottom: 69.25%;
  left: 1.31%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.sales-invoice-register-child9 {
  position: absolute;
  top: 139px;
  left: 305px;
  border-radius: 9.92px;
  background-color: var(--color-gainsboro);
  backdrop-filter: blur(10px);
  width: 1113px;
  height: 48px;
}
.x27 {
  font-size: var(--font-size-5xl);
}
.dashboard-x15 {
  position: relative;
  background: linear-gradient(90deg, #000, #000 50.71%, #f239c9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.dashboard-x-wrapper13,
.report-x-container {
  position: absolute;
  top: 139px;
  left: 305px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-500);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-xl);
  font-size: var(--font-size-6xl);
}
.report-x-container {
  left: 490px;
  background-color: var(--gray-white);
}
.sales-invoice-register3 {
  color: var(--gray-white);
}
.report-sales-container1 {
  position: absolute;
  top: 208px;
  left: 305px;
  line-height: 150%;
  font-weight: 500;
  font-family: var(--caption-regular);
}
.frame-parent56 {
  position: absolute;
  top: 15px;
  left: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
  opacity: 0.7;
}
.icround-arrow-drop-down-icon27 {
  position: absolute;
  top: 13px;
  left: 165px;
  width: 36px;
  height: 36px;
  overflow: hidden;
}
.frame-parent55 {
  position: absolute;
  top: 667px;
  left: 24px;
  width: 216px;
  height: 62px;
}
.mingcutexls-fill-icon5 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.mingcutexls-fill-wrapper3 {
  position: absolute;
  top: 6px;
  left: 0;
  border-radius: 5.83px;
  background-color: var(--color-gray-700);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5.828957557678223px 8.743435859680176px;
}
.group-child350 {
  position: absolute;
  top: 0;
  left: 44px;
  border-radius: 9.64px;
  background-color: var(--color-gainsboro);
  width: 267.2px;
  height: 39.2px;
}
.search12 {
  position: absolute;
  top: 0;
  left: 21.1px;
  display: inline-block;
  width: 39.8px;
  height: 19.1px;
  opacity: 0.5;
}
.group-child351 {
  position: absolute;
  height: 63.35%;
  width: 19.21%;
  top: 15.71%;
  right: 80.79%;
  bottom: 20.94%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.8;
}
.frame-parent57,
.search-parent10 {
  position: absolute;
  top: 10px;
  left: 55px;
  width: 60.9px;
  height: 19.1px;
}
.frame-parent57 {
  top: 221px;
  left: 1098px;
  width: 311.2px;
  height: 39.2px;
  font-size: 11.66px;
  font-family: var(--font-hind-siliguri);
}
.all-report1 {
  position: relative;
  font-weight: 500;
}
.all-report-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  opacity: 0.7;
}
.sales-invoice-register-inner9 {
  position: absolute;
  top: 737px;
  left: 25px;
  border-radius: var(--br-8xs);
  width: 218px;
  height: 39px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-6xl) var(--padding-10xs)
    var(--padding-mini);
  box-sizing: border-box;
  color: var(--color-gray-200);
}
.trial-report1 {
  position: relative;
  font-weight: 600;
}
.sales-invoice-register-inner10 {
  top: 776px;
  border-radius: var(--br-10xs);
  height: 40px;
  padding: var(--padding-8xs) var(--padding-6xl) var(--padding-8xs)
    var(--padding-mini);
  color: var(--color-gray-300);
}
.sales-invoice-register-inner10,
.sales-invoice-register-inner11,
.sales-invoice-register-inner12 {
  position: absolute;
  left: 25px;
  width: 216px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.sales-invoice-register-inner11 {
  top: 823px;
  border-radius: var(--br-10xs);
  height: 37px;
  padding: var(--padding-8xs) var(--padding-6xl) var(--padding-8xs)
    var(--padding-mini);
  color: var(--color-dimgray-100);
}
.sales-invoice-register-inner12 {
  top: 851px;
  height: 62px;
  padding: var(--padding-mini) var(--padding-6xl) var(--padding-mini)
    var(--padding-mini);
}
.icon-park-twotonereload1 {
  position: relative;
  width: 23px;
  height: 23px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-park-twotonereload-container {
  position: absolute;
  top: 55px;
  left: 915px;
  border-radius: 7.59px;
  background-color: var(--color-gray-400);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 7.587067604064941px 11.380600929260254px;
}
.group-child352 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 9.92px;
  background-color: var(--color-gainsboro);
  width: 275px;
  height: 40.4px;
}
.default-container,
.default1 {
  position: absolute;
  width: 77px;
  height: 20px;
}
.default1 {
  top: 0;
  left: 0;
  display: inline-block;
  opacity: 0.5;
}
.default-container {
  top: 10px;
  left: 33px;
}
.rectangle-parent103 {
  position: absolute;
  top: 53px;
  left: 970px;
  backdrop-filter: blur(10px);
  width: 275px;
  height: 40.4px;
  font-size: var(--caption-regular-size);
  font-family: var(--font-hind-siliguri);
}
.filter-container,
.print-wrapper2,
.uiwsetting-wrapper3 {
  position: absolute;
  background-color: var(--color-gray-700);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.uiwsetting-wrapper3 {
  height: 3.13%;
  width: 0.91%;
  top: 5.57%;
  right: 66.75%;
  bottom: 91.31%;
  left: 32.33%;
  border-radius: var(--br-7xs);
  padding: var(--padding-7xs) var(--padding-4xs);
  box-sizing: border-box;
}
.filter-container,
.print-wrapper2 {
  top: 54px;
  left: 1253px;
  border-radius: 6.97px;
  padding: 6.967741966247559px 10.45161247253418px;
  font-size: 13.94px;
  font-family: var(--font-hind-siliguri);
}
.print-wrapper2 {
  left: 1315px;
}
.sum-0008,
.sum-0009 {
  position: absolute;
  top: 13.4px;
  left: 559.4px;
  line-height: 150%;
  font-weight: 500;
}
.sum-0009 {
  top: 14px;
  left: 1026px;
}
.sum-00010,
.sum-00011,
.sum-00012,
.sum-00013,
.sum-00014,
.sum-00015 {
  position: absolute;
  top: 14px;
  left: 1125px;
  line-height: 150%;
  font-weight: 500;
}
.sum-00011,
.sum-00012,
.sum-00013,
.sum-00014,
.sum-00015 {
  left: 1307px;
}
.sum-00012,
.sum-00013,
.sum-00014,
.sum-00015 {
  left: 1507px;
}
.sum-00013,
.sum-00014,
.sum-00015 {
  left: 1707px;
}
.sum-00014,
.sum-00015 {
  left: 1867px;
}
.sum-00015 {
  left: 1975px;
}
.header29 {
  position: absolute;
  top: 887px;
  left: 372px;
  background-color: var(--color-gainsboro);
  backdrop-filter: blur(9.6px);
  width: 3301px;
  height: 45px;
  font-size: var(--font-size-smi-1);
  font-family: var(--caption-regular);
}
.assets1,
.equity2,
.liabilities2 {
  position: absolute;
  top: 13.8px;
  left: 16.8px;
  line-height: 150%;
  font-weight: 500;
}
.equity2,
.liabilities2 {
  top: 14.8px;
  left: 1278.8px;
}
.equity2 {
  top: 15.8px;
  left: 1831.8px;
}
.header30,
.row-151 {
  position: relative;
  background-color: var(--color-gainsboro);
  backdrop-filter: blur(9.6px);
  width: 3315px;
  height: 45px;
}
.row-151 {
  height: 26px;
}
.table15 {
  position: absolute;
  top: 20.2px;
  left: 20.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.current-assets5 {
  position: relative;
  line-height: 150%;
}
.material-symbolsfilter-alt-sh-icon56 {
  position: relative;
  width: 20.2px;
  height: 20.2px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-child81 {
  position: relative;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 25px;
}
.bank-and-cash-accounts-parent,
.current-assets-parent1,
.plus-fixed-assets-parent,
.prepayments-parent,
.receivables-parent {
  position: absolute;
  top: 66.3px;
  left: 27.9px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-4xl);
}
.bank-and-cash-accounts-parent,
.plus-fixed-assets-parent,
.prepayments-parent,
.receivables-parent {
  left: 190.9px;
}
.plus-fixed-assets-parent,
.prepayments-parent,
.receivables-parent {
  left: 417.9px;
}
.plus-fixed-assets-parent,
.prepayments-parent {
  left: 726.9px;
}
.plus-fixed-assets-parent {
  left: 879.9px;
}
.plus-non-current-assets2 {
  position: absolute;
  top: 3px;
  left: 0;
  line-height: 150%;
}
.material-symbolsfilter-alt-sh-icon61 {
  position: absolute;
  top: 1.9px;
  left: 167px;
  width: 20.2px;
  height: 20.2px;
  overflow: hidden;
}
.frame-child86 {
  position: absolute;
  top: -44.8px;
  left: 209.1px;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 69.3px;
}
.plus-non-current-assets-parent {
  position: absolute;
  top: 66.3px;
  left: 1052.9px;
  width: 210.2px;
  height: 24px;
}
.current-liabilities-parent,
.payables-parent {
  position: absolute;
  top: 66.3px;
  left: 1278.9px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-4xl);
}
.payables-parent {
  left: 1457.9px;
}
.material-symbolsfilter-alt-sh-icon64 {
  position: absolute;
  top: 1.9px;
  left: 183px;
  width: 20.2px;
  height: 20.2px;
  overflow: hidden;
}
.frame-child89 {
  position: absolute;
  top: -44.8px;
  left: 225.6px;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 69.3px;
}
.plus-non-current-liabilities-parent {
  position: absolute;
  top: 66.3px;
  left: 1588.9px;
  width: 226.2px;
  height: 24px;
}
.unallocated-earnings-parent {
  position: absolute;
  top: 66.3px;
  left: 1824.9px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-4xl);
}
.current-year-allocated-earning-parent,
.current-year-earnings-parent,
.current-year-unallocated-earni-parent,
.previous-years-unallocated-ear-parent {
  position: absolute;
  top: 66.3px;
  left: 2024.9px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-4xl);
}
.current-year-allocated-earning-parent,
.current-year-earnings-parent,
.previous-years-unallocated-ear-parent {
  left: 2306.9px;
}
.current-year-allocated-earning-parent,
.previous-years-unallocated-ear-parent {
  left: 2514.9px;
}
.previous-years-unallocated-ear-parent {
  left: 2786.9px;
}
.retained-earnings2 {
  position: absolute;
  top: 3.1px;
  left: 0;
  line-height: 150%;
}
.material-symbolsfilter-alt-sh-icon70 {
  position: absolute;
  top: 2.1px;
  left: 132px;
  width: 20.2px;
  height: 20.2px;
  overflow: hidden;
}
.frame-child95 {
  position: absolute;
  top: -45.3px;
  left: 174.1px;
  width: 1.1px;
  height: 69.6px;
}
.retained-earnings-parent {
  position: absolute;
  top: 66.3px;
  left: 3080.9px;
  width: 175.2px;
  height: 24.3px;
}
.current-assets-parent2 {
  position: absolute;
  top: 66.3px;
  left: 563.9px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-4xl);
}
.orderlist13 {
  position: absolute;
  height: 11.72%;
  width: 78.97%;
  top: 33.59%;
  right: 13.88%;
  bottom: 54.69%;
  left: 7.15%;
  border-radius: 9.53px;
  background-color: var(--color-gainsboro);
  backdrop-filter: blur(9.6px);
  font-size: var(--font-size-smi-1);
  font-family: var(--caption-regular);
}
.sales-invoice-register2 {
  position: relative;
  background: linear-gradient(
    114.91deg,
    #fcff58,
    #ffee58,
    rgba(255, 255, 255, 0) 43%,
    #39f2c6
  );
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-cairo);
}
